.appWrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.search {
  flex: 1 1 60%;
  height: calc(100vh - 4rem);
}

.tracklist {
  flex: 1 1 40%;
  height: calc(100vh - 4rem);
}

.player {
  flex: 1 0 100%;
  height: 4rem;
}
