.player {
  position: relative;
  z-index: 10;
  background-color: $divider-color;
  display: flex;
  align-items: center;
}

.btn--player {
  background-color: $primary-color;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 2rem;
  cursor: pointer;
  transition: background-color 120ms ease-out;
}

.btn--player:hover {
  background-color: $primary-color-dark;
}

.btn--playerplay {
  background-image: url(data:image/svg+xml;utf8;;charset=utf-8;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBkPSJNOCA1djE0bDExLTd6Ii8+DQogICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPg0KPC9zdmc+);
}

.btn--playerpause {
  background-image: url(data:image/svg+xml;utf8;;charset=utf-8;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBkPSJNNiAxOWg0VjVINnYxNHptOC0xNHYxNGg0VjVoLTR6Ii8+DQogICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPg0KPC9zdmc+);
}


.player__progress {
  position: absolute;
  appearance: none;
  top: 0;
  left: 0;
  width: 100%;
  transform: scaleY(0.3);
  transform-origin: top;
  background-color: $primary-color-light;
  box-shadow: none;
  border: 0;

  &::-webkit-progress-value {
    background-color: $primary-color;

  }

  &::-webkit-progress-bar {
    background-color: $primary-color-light;
  }
  &::-moz-progress-bar {
    background-color: $primary-color;
  }
}


.player__volume {
  appearance: none;
  margin-left: 1.5rem;
  background: linear-gradient(0, transparent 40%, $primary-color-light 40%, $primary-color-light 60%, transparent 60%);


  &::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: $primary-color;
  }

  &:focus {
    outline: none;
  }
}


.player .track {
  margin-left: 2rem;
  font-size: 0.8rem;
  margin-top: 1.2rem;
  .btngroup {
    display: none;
  }
}
