.search {
  position: relative;
  box-shadow: rgba(0,0,0,0.23) 0 3px 10px, rgba(0,0,0,0.16) 0 3px 10px ;
  z-index: 2;
}

.searchWrapper {
  height: 86%;
  overflow: scroll;
}

.searchinputwrapper {

  position: relative;
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1.5rem;

  .label {
    color: $secondary-text-color;
    font-weight: 300;
    position: absolute;
    margin-left: 0.2rem;
    margin-top: 0.2rem;
    top: 0;
    z-index: 1;
    cursor: text;
    pointer-events: none;
    transform-origin: top left;
    transition: transform 150ms ease-out;
  }

  .searchinput {
    position: relative;
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    border: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $divider-color;
    transition: border-bottom-width 120ms ease-out, border-bottom-color 120ms ease-out;

    &:focus {
      outline: 0;
      box-shadow: none;
      border-bottom-color: $primary-color;
      border-bottom-width: 2px;
    }

    &:focus + .label,
    &:not([value=""]) + .label {
      color: $primary-color;
      transform: translateY(-75%) scale(0.7);
    }
  }
}

.searchresults {
  margin-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.8rem;
}
